PyAutoGUI==0.9.54
TTS==0.22.0
beautifulsoup4==4.14.2
colorama==0.4.6
discord.py==2.6.4
faster-whisper==1.2.1
numpy==1.26.4
pillow==10.4.0
pygame==2.6.1
python-dotenv==1.1.1
pyttsx3==2.99
requests==2.32.5
screeninfo==0.8.1
sounddevice==0.5.2
soundfile==0.13.1
transformers==4.38.2
vosk==0.3.45
watchdog==6.0.0
websockets==15.0.1
